
html, body, div, h1, p, a, ul, li, table, tr, td, img {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

body {
	position: relative;
	background-color: #333333;
	color: #FFFFFF;
	/*margin: 50px 0px 0px;*/
}

ul {
	list-style-type: none;
}

table {
	border-style: solid;
	border-collapse: collapse;
}


.topBar {
	position: relative;
	/*margin-bottom: 0px;
	margin-top: 0px;*/
	/*padding: 0px;*/
	background-color: #4c4c4c;
	height: 50px;
	margin: 50px 0px;
}


.navigation {
	position: fixed;
	top: 0px;
	width: 100%;
	text-align: center;
	/*
	top: 0px;

	left: 50%;
	margin-left: -256px;
	padding: 0px;*/
	z-index: 999;
}

.navigation::after { 
	content: "";
	display: table;
	clear: both;
}

.navigation ul {
	/*position: relative;*/
	/*width: initial;*/
	display: inline-block; 	/* 	PRAISE JESUS! 
								Makes the element only as wide as 
								the total width of it's children */ 
	margin-left: auto; 	/* 								*/
	margin-right: auto;	/*	Center aligns the element	*/
	border-style: none solid solid ;
	border-width: 2px;
	border-color: #000000;
	background-color: #9c0000;
	border-radius: 0px 0px 5px 5px;
}

.navigation ul::after { 
	content: "";
	display: table;
	clear: both;
}


.navigation li {
	/*float: left;*/
	display: inline-block; 

}

.navigation a:link, .navigation a:visited { 
	display:block;
	width: 120px;
	padding: 4px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	/* Creating an outline like a boss */
	text-shadow: 1px  1px 0 #000,
				-1px -1px 0 #000,
				 1px -1px 0 #000,
				-1px  1px 0 #000,
				 0px  1px 0 #000,
				 1px  0px 0 #000,
				 0px -1px 0 #000,
				-1px  0px 0 #000;
	letter-spacing: 1px;
	border-radius: 0px 0px 5px 5px;
}


.navigation a:hover, .navigation a:active { 
	background-color: #ca0000;

}

.page {
	margin: 0px 5% ;
}

.container {
	width: 100 %;
	margin: 0px;
	/*height: auto;*/
	/*position: relative;*/
	/*
	margin-top: 50px;
	margin-right: 5%;
	margin-left: 5%;*/
}

/* Fix to make element wrap around children */
.container::after { 
	content: "";
	display: table;
	clear: both;
}

.sideBar {
	position: relative;
	width: 100%;
	float: left;
	/*right: 5%;*/
	/*height: 100%;*/
	/*background-color: #c4c4c4;
	border-radius: 5px;*/
}

.sideBar ul {
	/*display: inline-block; 	/* 	PRAISE JESUS! 
								Makes the element only as wide as 
								the total width of it's children */ 
	/*margin-left: auto; 	/* 								*/
	/*margin-right: auto;	/*	Center aligns the element	*/
	/*margin: -2px;*/
	border: 2px solid #000000;
	background-color: #9c0000;
	border-radius: 5px;
}

.sideBar ul::after {
	content: "";
	display: table;
	clear: both;
}

.sideBar li {
	display: inline-block;
	width: 20%;
	float: left;
	/*margin-left: 10%;*/ 
}

.sideBar p, .sideBar a {
	
	display: block;
	padding-left: 10%;
	overflow: hidden;
	/*width: 100%;
	color: #000000;*/
	/*text-align: right;
	text-indent: 0.5em;*/
	border-radius: 5px;
	text-shadow: 1px  1px 0 #000,
				-1px -1px 0 #000,
				 1px -1px 0 #000,
				-1px  1px 0 #000,
				 0px  1px 0 #000,
				 1px  0px 0 #000,
				 0px -1px 0 #000,
				-1px  0px 0 #000;
}

.sideBar p:hover, .sideBar a:hover  {
	background-color: #ca0000;

}

.main {
	/*margin-right: 5%;*/
	/*padding-bottom: 6em;*/
	width: 100%;
	/*position: relative;*/
	float: left;

}

.main>div {
	margin-bottom: 40px;
}

.textContent p{
	padding: 0.5em 0px;
}

.header {

}

.imgGrid {
	/*position: relative;*/
	width: 100%;
	height: auto;
	/*border: 1px solid #FFFFFF;*/
}

/* Fix to make element wrap around children */
.imgGrid::after { 
	content: "";
	display: table;
	clear: both;
}

.box {
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
	margin: -1px;
	background-color: #4c4c4c; /* 4c4c4c */
	float: left;
	position: relative;
	width: 50%;
	/*height: auto;*/
	/*line-height: 300px;*/
}

.box:before {
	content: "";
	display: block;
	padding-top:100%;
}

.box p {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*
	border: 1px solid #FFFFFF;
	border-collapse: collapse;*/
}


.box img {
	max-height: 100%;
	max-width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.hText {
	float: left;
	width: 46%;
	padding: 0px 1%;
	text-align: center;
	overflow: hidden;
}

.textContent {
	float: left;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 20px;
	background-color: #4c4c4c;
	color: #333333;
	z-index: 999;
	font-size: 0.875em;
}

.footer p {
	position: fixed;
	width: 16%;
	right: 8%;
	font-weight: bold;
	color: #a0a0a0;
}

@media screen and (min-width: 920px) {
	.box {
		width: 33%;
		height: 33%;
	}

	.hText {
		width: 21%;
		padding: 0px 1%;
	}

	.sideBar {
		float: right;
		width: 15%;
	}

	.sideBar li {
		width: 100%;		
	}
	
	.container {
		width: 85%;
	}
	.main {
		width: 95%;
	}
}

